<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
        th:replace="common/fragments :: head('블로그 글 목록')">
</head>

<body>

<div th:replace="common/fragments :: header"></div>


<div class="container">

    <!-- 검색 폼 -->
    <form method="get" action="/articles" class="mb-3">
        <input type="text" id= "keyword" name="keyword" class="form-control"

               th:value="${keyword != null} ? ${keyword} : ''"
               th:placeholder="${keyword != null} ? '' : '검색하기'">

        <button type="submit" class="btn btn-primary mt-2">검색</button>
    </form>


    <button type="button" id="create-btn"
            th:onclick="|location.href='@{/new-article}'|"
            class="btn btn-secondary btn-sm mb-3">글 등록</button>

    <th th:if="${#authentication.name != 'anonymousUser'}" >

    <button type="button" class="btn btn-secondary" onclick="location.href='/logout'">로그아웃</button>

    </th>


    <div class="row-6" th:each="item : ${articles.getContent()}">
        <div class="card">
            <div class="card-header" th:text="${item.id}" >

            </div>
            <div class="card" th:text="${item.writer}"> </div>
            <div class="card-body">
                <h5 class="card-title" th:text="${item.title}"></h5>
<!--                <p class="card-text" th:text="${item.content}"></p>-->

                <a th:href="@{/articles/{id}(id=${item.id})}" class="btn btn-primary">보러가기</a>

            </div>
        </div>
        <br>
    </div>

    <nav aria-label="Page navigation" class="mt-4">
        <ul class="pagination justify-content-center">

            <!-- Previous button -->
            <li class="page-item" th:classappend="${articles.hasPrevious()} ? '' : 'disabled'">
                <a class="page-link" th:href="@{/articles(page=${articles.number - 1}, keyword=${keyword})}"
                   aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            <!-- Page numbers -->
            <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                th:classappend="${i == currentPage} ? 'active' : ''" class="page-item">
                <a class="page-link" th:href="@{/articles(page=${i}, keyword=${keyword})}" th:text="${i + 1}">1</a>
            </li>

            <!-- Next button -->
            <li class="page-item" th:classappend="${articles.hasNext()} ? '' : 'disabled'">
                <a class="page-link" th:href="@{/articles(page=${articles.number + 1}, keyword=${keyword})}"
                   aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>






</div>

<div th:replace="common/fragments :: footer"></div>


<script src="/js/article.js"></script>


</body>

</html>