<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<div>
    <span th:if="${#authorization.expression('isAuthenticated()')}">로그인됨</span>
    <span th:if="${#authorization.expression('isAnonymous()')}">로그인되지 않음</span>
</div>

    <div>
        <span>사용자: <strong th:text="${#authentication.name}"></strong></span> <br>
        <span>권한: <strong th:text="${#authentication.authorities}"></strong></span>
    </div>
</body>
</html>